<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Forespørgsel detaljer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" th:href="@{/images/logo.svg}">
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>

    <div class="request-details-page">
        <div th:if="${successMessage}" class="message message-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage}" class="message message-error">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="hero-content">
            <h1>Forespørgsel #<span th:text="${orderDetail.orderId}"></span></h1>
            <p>Oprettet : <span th:text="${orderDetail.orderTimeLine.relativeTime}"></span></p>
            <p>Status : <span th:text="${orderDetail.orderStatus.displayName}"></span></p>
        </div>

        <section class="section">
            <h2>Carport & Kunde information</h2>

            <div class="info">

                <div class="info-content">
                    <h3>Carport Specifikationer</h3>
                    <div class="info-item">
                        <strong>Længde:</strong>
                        <span th:text="${orderDetail.carport.length} + ' cm'"></span>
                    </div>
                    <div class="info-item">
                        <strong>Bredde:</strong>
                        <span th:text="${orderDetail.carport.width} + ' cm'"></span>
                    </div>
                    <div class="info-item">
                        <strong>Tagtype:</strong>
                        <span th:text="${orderDetail.carport.roofType.displayName}"></span>
                    </div>
                    <div class="info-item" th:if="${orderDetail.carport.shed != null}">
                        <strong>Skur:</strong>
                        <span th:text="${orderDetail.carport.shed.length} + ' x ' + ${orderDetail.carport.shed.width} + ' cm'"></span>
                    </div>
                </div>

                <div class="info-content">
                    <h3>Kunde information</h3>

                    <div class="info-item">
                        <strong>Navn:</strong>
                        <span th:text="${orderDetail.customer.firstName} + ' ' + ${orderDetail.customer.lastName}"></span>
                    </div>

                    <div class="info-item">
                        <strong>E-mail:</strong>
                        <a th:href="'mailto:' + ${orderDetail. customer.email}"
                           th:text="${orderDetail.customer.email}"></a>
                    </div>

                    <div class="info-item">
                        <strong>Telefon:</strong>
                        <a th:href="'tel:+45' + ${orderDetail.customer.phoneNumber}"
                           th:text="${orderDetail.customer.phoneNumber}"></a>
                    </div>

                    <div class="info-item">
                        <strong>Adresse:</strong>
                        <span th:text="${orderDetail.customer.street} + ', ' + ${orderDetail.customer.zipCode} + ' ' + ${orderDetail.customer.city}"></span>
                    </div>

                    <div th:if="${orderDetail.customerComment}" class="info-item">
                        <strong>Kommentar:</strong>
                        <span th:text="${orderDetail.customerComment}"></span>
                    </div>
                </div>

            </div>
        </section>

        <section class="section">
            <h2>Tegning</h2>
            <div class="drawing-grid">
                <div class="carport-svg-topview-small">
                    <h3>Oversigt fra toppen</h3>
                    <div th:utext="${carportSvgTop.toString()}"></div>
                </div>
                <div class="carport-svg-sideview-small">
                    <h3>Sidevisning</h3>
                    <div th:utext="${carportSvgSide.toString()}"></div>
                </div>
            </div>

            <a th:href="@{/show-carport-drawing/{id}(id=${orderDetail.orderId})}" class="btn btn-primary"  target="_blank" rel="noopener noreferrer">Se stor tegning her</a>
        </section>

        <section class="section">
            <h2>Stykliste</h2>

            <table class="orders-table">
                <thead>
                <tr>
                    <th>Antal</th>
                    <th>Vare nr.</th>
                    <th>Vare beskrivelse</th>
                    <th>Hjælpe tekst</th>
                    <th>Længde</th>
                    <th>Bredde</th>
                    <th>Højde</th>
                    <th>Enhed</th>
                    <th>Handling</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="line : ${orderDetail.materialLines}">
                    <td>
                        <form th:action="@{/requests/{id}/update-bom(id=${orderDetail.orderId})}" method="post" class="quantity-form">
                            <input type="hidden" name="materialLineId" th:value="${line.materialLineId}">
                            <input type="number" name="quantity" th:value="${line.quantity}" min="0">
                            <button type="submit" class="btn-table btn-view"
                                    title="Se detajler">
                                <img th:src="@{/images/update.svg}" alt="Opdater antal"></button>
                        </form>
                    </td>
                    <td th:text="${line.materialVariant.materialVariantId}"></td>
                    <td th:text="${line.materialVariant.material.description}"></td>
                    <td th:text="${line.materialVariant.material.usage}"></td>
                    <td th:text="${line.materialVariant.variantLength != null ? line.materialVariant.variantLength + ' cm' : '-'}"></td>
                    <td th:text="${line.materialVariant.material.materialWidth != null ? line.materialVariant.material.materialWidth + ' cm' : '-'}"></td>
                    <td th:text="${line.materialVariant.material.materialHeight != null ? line.materialVariant.material.materialHeight + ' cm' : '-'}"></td>
                    <td th:text="${line. materialVariant.material.unit}"></td>
                    <td>
                        <form th:action="@{/requests/{id}/delete-bom-line(id=${orderDetail.orderId})}" method="post">
                            <input type="hidden" name="materialLineId" th:value="${line.materialLineId}">
                            <button type="submit" class="btn-table btn-delete" title="Slet">
                                <img th:src="@{/images/delete.svg}" alt="Slet"/>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="section">
            <h1>Prisberegning & tilbuds periode</h1>
        <form th:action="@{/requests/{id}/send-offer(id=${orderDetail.orderId})}" method="post">

            <div class="calculator-container">
                <fieldset class="box">
                    <legend>Dækningsgrad efter prisforslag</legend>

                    <div class="price-row">
                        <label class="price-change-label">I alt uden moms:</label>
                        <span class="price-display price-highlight-green" id="priceWithOutVatDisplay"
                              th:text="${orderDetail.pricingDetails.priceWithoutVat}"></span>
                        <span class="unit">kr.</span>
                    </div>

                    <div class="price-row">
                        <label>Samlet kostpris:</label>
                        <span class="price-display" id="costPriceDisplay" name="costPrice"
                              th:text="${orderDetail.pricingDetails.costPrice}"></span>
                        <span class="unit">kr.</span>
                    </div>

                    <hr class="horizontal-line">

                    <div class="price-row red-text" >
                        <label class="price-change-label-red">Dækningsgrad:</label>
                        <span class="price-display price-highlight-red" id="coverageDisplay"
                              th:text="${orderDetail.pricingDetails.coveragePercentage}"></span>
                        <span class="unit">%</span>
                    </div>
                </fieldset>

                <fieldset class="box">
                    <legend>Pris og prisforslag</legend>

                    <div class="price-row">
                        <label class="price-change-label">Pris uden moms:</label>
                        <span class="price-display" id="priceWithoutVatDisplay2"
                              th:text="${orderDetail.pricingDetails.priceWithoutVat}"></span>
                        <span class="unit">kr.</span>
                    </div>

                    <div class="price-row">
                        <label>Pris med moms:</label>
                        <span class="price-display" id="priceWithVatDisplay"
                              th:text="${orderDetail.pricingDetails.totalPrice}"></span>
                        <span class="unit">kr.</span>
                    </div>

                    <hr class="horizontal-line">

                    <div class="price-row">
                        <label class="price-change-label">Prisforslag ved salg:</label>
                        <input id="totalPriceInput"
                               class="price-display price-input-green"
                               name="totalPrice"
                               type="number"
                               step="any"
                               th:value="${#numbers.formatDecimal(orderDetail.pricingDetails.totalPrice, 1, 2, 'POINT')}"
                               th:data-costprice="${#numbers.formatDecimal(orderDetail.pricingDetails.costPrice, 1, 2, 'POINT')}"
                               th:data-original="${#numbers.formatDecimal(orderDetail.pricingDetails.totalPrice, 1, 2, 'POINT')}">
                        <span class="unit">kr.</span>
                    </div>

                    <div class="price-row">
                        <label class="label-red">Prisændring:</label>
                        <span id="differenceDisplay">0.00</span>
                        <span class="unit">kr.</span>
                    </div>
                </fieldset>
            </div>

            <input type="hidden"
                   id="coverageInput"
                   name="coveragePercentage"
                   th:value="${orderDetail.pricingDetails.coveragePercentage}">

            <input type="hidden"
                   id="costPriceInput"
                   name="costPrice"
                   th:value="${orderDetail.pricingDetails.costPrice}">

            <div class="offer-validity">
                <label for="offerValidDays"><strong>Tilbud gyldigt i (dage):</strong></label>
                <input type="number"
                       id="offerValidDays"
                       name="offerValidDays"
                       value="14"
                       min="1"
                       max="90"
                       required>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-secondary btn-large">Send Tilbud til Kunde</button>
                <a th:href="@{/carport-requests}" class="btn btn-secondary btn-large">Tilbage til oversigt</a>
            </div>
        </form>
        </section>
    </div>
</main>


<div th:replace="~{fragments :: footerFragment}"></div>
<script th:src="@{/javascript/price-calculator.js}"></script>
</body>
</html>
