<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Tilbud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" th:href="@{/images/logo.svg}">
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div class="orders-view">
        <div th:if="${successMessage}" class="message message-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage}" class="message message-error">
            <p th:text="${errorMessage}"></p>
        </div>

        <h1>Tilbud Oversigt</h1>

        <section class="order-section">
            <h2>Afventer kunde accept<span class="badge-secondary" th:if="${offersToAccept != null}" th:text="${offersToAccept.size()}"></span></h2>

            <div th:if="${offersToAccept != null and ! offersToAccept.isEmpty()}" class="orders-table">
                <table th:replace="~{fragments :: orderTable(${offersToAccept}, '/carport/details/view/{id}', 'offers')}"></table>
            </div>

            <p th:if="${offersToAccept == null or offersToAccept.isEmpty()}" class="no-results">Ingen tilbud afventer accept</p>
        </section>

        <section class="order-section">
            <h2>Afvist<span class="badge-secondary" th:if="${rejectedOffers != null}" th:text="${rejectedOffers.size()}"></span></h2>

            <div th:if="${rejectedOffers != null and !rejectedOffers.isEmpty()}" class="orders-table">
                <table th:replace="~{fragments :: orderTable(${rejectedOffers}, '/carport/details/view/{id}', 'offers')}"></table>
            </div>

            <p th:if="${rejectedOffers == null or rejectedOffers.isEmpty()}" class="no-results">Ingen afviste tilbud</p>
        </section>

        <section class="order-section">
            <h2>Udløbet<span class="badge-secondary" th:if="${expiredOffers != null}" th:text="${expiredOffers.size()}"></span></h2>

            <div th:if="${expiredOffers != null and !expiredOffers.isEmpty()}" class="orders-table">
                <table th:replace="~{fragments :: orderTable(${expiredOffers}, '/carport/details/view/{id}', 'offers')}"></table>
            </div>

            <p th:if="${expiredOffers == null or expiredOffers.isEmpty()}" class="no-results">Ingen udløbne tilbud</p>
        </section>

    </div>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>
