<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Carport tegning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<main>
    <div class="carport-display">
        <div class="drawing-header">
            <img class="carport-logo" alt="Fog logo" th:src="@{/images/logo-carport.svg}">
            <div class="order-number">Ordre # <span th:text="${order.orderId}"></span></div>
        </div>

        <div class="carport-wrapper">
            <div class="carport-svg-sideview">
                <h3>Sidevisning</h3>
                <div th:utext="${carportSvgSide}"></div>
            </div>

            <div class="carport-svg-topview">
                <h3>Oversigt fra toppen</h3>
                <div th:utext="${carportSvgTop}"></div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>
</body>
</html>
