<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Holder i længden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div class="form-container">
    <form th:action="@{/show-carport}" method="post">
        <div class="form-field">
        <label for="length">Length</label>
        <input type="text" id="length" name="length">
        </div>

        <div class="form-field">
        <label for="width">Width</label>
        <input type="text" id="width" name="width">
        </div>
        <button class="btn-primary" type="submit">Show carport</button>
    </form>
    </div>
</main>


<div th:replace="~{fragments :: footerFragment}"></div>


</body>
</html>
