<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Min side</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="icon" th:href="@{/images/logo.svg}">
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <div th:if="${successMessage}" class="message message-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="message message-error">
        <p th:text="${errorMessage}"></p>
    </div>

    <div class="orders-view">
        <h2>Afventer sælger</h2>
        <div th:if="${pendingOrders != null and !pendingOrders.isEmpty()}" class="orders-table customer-pending-orders">
            <table>
                <thead>
                <tr>
                    <th>Ordre-nr.</th>
                    <th>Oprettet</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pendingOrder : ${pendingOrders}">
                    <td th:text="${pendingOrder.orderId}"></td>
                    <td th:text="${pendingOrder.relativeTime}"></td>
                    <td><span th:text="${pendingOrder.orderStatus.displayName}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p th:if="${pendingOrders == null or pendingOrders.isEmpty()}">
            Ingen forespørgsler
        </p>

        <h2>Afventer godkendelse</h2>
        <div th:if="${readyOrders != null and !readyOrders.isEmpty()}" class="orders-table">
            <table>
                <thead>
                <tr>
                    <th>Ordre-nr.</th>
                    <th>Oprettet</th>
                    <th>Status</th>
                    <th>Handlinger</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="readyOrder : ${readyOrders}">
                    <td th:text="${readyOrder.orderId}"></td>
                    <td th:text="${readyOrder.relativeTime}"></td>
                    <td><span th:text="${readyOrder.orderStatus.displayName}"></span></td>
                    <td>
                        <div class="table-actions">
                            <a th:href="@{/customer-offer/details/{id}(id=${readyOrder.orderId})}"
                               class="btn-table btn-view"
                               title="Se detajler">
                                <img th:src="@{/images/view.svg}" alt="Se detaljer"/> <!-- Change hyperlink -->
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p th:if="${readyOrders == null or readyOrders.isEmpty()}">
            Ingen tilbud
        </p>

        <h2>Ordrer</h2>
        <div th:if="${paidOrders != null and !paidOrders.isEmpty()}" class="orders-table">
            <table>
                <thead>
                <tr>
                    <th>Ordre-nr.</th>
                    <th>Oprettet</th>
                    <th>Status</th>
                    <th>Handlinger</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="paidOrder : ${paidOrders}">
                    <td th:text="${paidOrder.orderId}"></td>
                    <td th:text="${paidOrder.relativeTime}"></td>
                    <td><span th:text="${paidOrder.orderStatus.displayName}"></span></td>
                    <td>
                        <div class="table-actions">
                            <a th:href="@{/carport/details/view/{id}(id=${paidOrder.orderId})}"
                               class="btn-table btn-view"
                               title="Se detajler">
                                <img th:src="@{/images/view.svg}" alt="Se detaljer"/>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p th:if="${paidOrders == null or paidOrders.isEmpty()}">
            Ingen ordrer
        </p>

    </div>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>