<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fog - Holder i længden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>

    <p>
        Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
        Tilbud og skitsetegning fremsendes på din side hurtigst muligt.
        Ved bestilling medfølger standardbyggevejledning.

        Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
        Felter markeret med * SKAL udfyldes!

    </p>

    <div class="form-container">
        <h2>Carport med fladt tag</h2>

        <p>
            Udfyld nedenstående omhyggeligt og tryk "Bestil tilbud".
            Så vender vi hurtigst muligt tilbage med et tilbud til dig.
        </p>

        <form th:action="@{/request-offer}" method="post" class="form">

            <div class="form-field">
                <label for="carportWidth">Email</label>
                <input class="form-input" type="number" id="carportWidth" name="carportWidth"
                       th:value="${carportWidth}" required>
            </div>

            <div class="form-field">
                <label for="password1">Kodeord</label>
                <input class="form-input" type="password" id="password1" name="password1" required>
            </div>

            <div class="form-field">
                <label for="password2">Gentag kodeord</label>
                <input class="form-input" type="password" id="password2" name="password2"
                       placeholder="⁕⁕⁕⁕⁕⁕⁕⁕" required>
            </div>

            <div class="form-field">
                <label for="firstname">Fornavn</label>
                <input class="form-input" type="text" id="firstname" name="firstName"
                       th:value="${firstName}" placeholder="Fornavn" required>
            </div>

            <div class="form-field">
                <label for="lastname">Efternavn</label>
                <input class="form-input" type="text" id="lastname" name="lastName"
                       th:value="${lastName}" placeholder="Efternavn" required>
            </div>

            <div class="form-field">
                <label for="street">Gade</label>
                <input class="form-input" type="text" id="street" name="street"
                       th:value="${street}" placeholder="Gade/Vej" required>
            </div>

            <div class="form-field">
                <label for="zipcode">Postnummer</label>
                <input class="form-input" type="text" id="zipcode" name="zipCode"
                       th:value="${zipCode}" placeholder="Postnummer" required>
            </div>

            <div class="form-field">
                <label for="phone">Telefon</label>
                <input class="form-input" type="text" id="phone" name="phoneNumber"
                       th:value="${phoneNumber}" placeholder="12 34 56 78" required>
            </div>

            <button type="submit" class="btn btn-primary">Opret Bruger</button>

        </form>

        <div th:if="${errorMessage != null}" class="message message-error">
            <p th:text="${errorMessage}"></p>
        </div>

        <div th:if="${session.successMessage}" class="message message-success">
            <p th:text="${session.successMessage}"></p>
        </div>

    </div>
</main>


<div th:replace="~{fragments :: footerFragment}"></div>


</body>
</html>
